<div class="form-container">
<div class="text-container">
<h2>What is MISSQL Command?</h2>
<p>MISSQL command is a web application designed to help you learn SQL, 
the language of <del>love</del> databases.</p>
<p>When you sign up to become a MISSQL commander, you'll work your way 
through ten levels that teach you SQL from the ground up and test your knowledge along the way—all while you 
save the world from nuclear annihilation.</p>
<p>You'll learn everything from how to get data out of a database, 
to how to create and drop tables and and perform complex operations 
like JOINS.</p>
<p>No idea what any of that means? Then MISSQL command is definitely 
for you.</p>
</div>
<%= form_for @user, :html => {:class => 'form sign-up-form'} do |f|%>
<h2>Sign Up</h2>
<fieldset>
	<%= f.label :email, "Email Address*:" %>
 	<%= f.text_field :email %>
</fieldset>
<fieldset>
	<%= f.label :user_name, "Username:" %> 
	<%= f.text_field :user_name %> 
</fieldset>
<fieldset>
	<%= f.label :password, "Password:" %> 
	<%= f.password_field :password %> 
</fieldset>
<fieldset>
	<%= f.label :password_confirmation, "Confirm password:" %> 
	<%= f.password_field :password_confirmation %>  
</fieldset>
<fieldset>
	<%= f.submit %>
</fieldset>
<% end %>
</div>