<div id="schemata">
	<ul class="schema-tabs">
		<% @level.level_schemas.each_with_index do |schema, i| %>
		<li class="tab <%= "active" if i == @level.level_schemas.count - 1 %>">
			<span class="tab-title">Schema for <span class="code"><%= schema.table_name %></span></span>
			<div class="schema-table">
				<small>Schema for <span class="code"><%= schema.table_name %></span></small><br /><br />
				<ul class="schema">
				<% schema.schema_columns.each do |column| %>
					<li class="column"><span class="column-name"><%= column.column_name %></span>&nbsp;<span class="column-type"><%= column.column_type.upcase %></span></li>
				<% end %>
				</ul>
			</div>
		</li>
		<% end %>
	</ul>
</div>