
<section id="left-pane" class="pane unselectable">
	<aside id="portrait">
	</aside>
	<div id="hed">
	<h2><%= @level.title.html_safe %></h2>
	<p class="prompt"><%= @level.prompt.html_safe %></p class="prompt">
	</div>
	<div id="level-pages">
	<h4>LEVEL INSTRUCTIONS:</h4>
		<% @level_pages.each_with_index do |page, i| %>
		<article data-page-number="<%= i %>" class="selectable-text level-page <% if i == 0  %>active<% end %>"><%= page.content.html_safe %></article>
		<% end %>
		<% if @level_pages.length > 1 %>
			<%= render partial:"pages_nav.html" %>
		<% end %>
	</div>
</section>
<section id="repl">
	<% if !@level.level_schemas.empty? %>
			<%= render partial:"schema_tabs.html" %>
	<% end %>
	<div id="output">
		<pre id="output-text"><%= @level.default_text %></pre>
	</div>
	<div id="command-input" class="pane">
		<textarea id="sql-command" autofocus></textarea>
		<div id="button-container">
		<button type="button" id="reset">RESET LEVEL</button>
		<button type="button" id="execute">EXECUTE</button>
		</div>
		<div id="next-level-modal">
			<div class="modal-content">
				<h4>Congratulations, you passed this challenge! <%= link_to "Move on to the next level >","/levels/#{@level.next_level.stage_number}" if @level.next_level %></h4>	
			</div>
		</div>
	</div>
</section>
