<header>
	<h2> Missql Command </h2>
	<% if current_user -%>
		<%= "Logged in as #{current_user.email}" -%>
		<%= link_to("Logout", logout_path) -%>
	<% else -%>
		<%= link_to("Sign Up", users_new_path) -%> or
		<%= link_to("Login", login_path) -%>
	<% end -%>
	<% if current_user %>
	<nav>
		<span> Levels ▾ </span>
		<ul class="nav-links">
			<% @levels.each do |level| %>
			<li><%= link_to level.title+" "+level.stage_number.to_s, level_path(level) %> </li>
			<% end %>
		</ul>
	</nav>
	<% end %>
</header>