<header>
	<a href="/"><%= image_tag "missql-logo-8.png", :alt=>"MISSQL COMMAND", :class=>"header-logo" %></a>
	<span class="level-ctrls">
	<% if @level %>
		<% if @level.prev_level %>
			<a href="/levels/<%= @level.prev_level.stage_number %>" class="level-arrow left">↼ Prev</a>
		<% end %>
			<h4><%= "Level #{@level.stage_number}" %></h4>
		<% if @level.next_level %>
			<a href="/levels/<%= @level.next_level.stage_number %>" class="level-arrow right">Next ⇀</a>
		<% end %>			
	<% end %>
	</span>	

	<% if current_user -%>
	<nav>
		<span>Levels ▾</span>
		<ul class="nav-links">
			<% @levels.each do |level| %>
			<li <%= "class = completed" if current_user.has_completed?(level) %>><%= link_to "##{level.stage_number.to_s} #{strip_tags level.title}", "/levels/#{level.stage_number}" %> </li>
			<% end %>
		</ul>
	</nav>
	<% end %>
		<span class="session">
		<%= link_to("About", about_path) -%>
		</span>

		<span class="session"><% if current_user -%>
		<%= "#{current_user.display_name} | " -%>
		<%= link_to("Logout", logout_path) -%>
	<% else -%>
		<%= link_to("Sign Up", users_new_path) -%> or
		<%= link_to("Login", login_path) -%>
	<% end -%></span>

</header>