<header>

	<a href="/"><img src="/assets/missql-logo-8.png" alt="MISSQL COMMAND" class="header-logo" /></a>
	<% if current_user -%>
	<nav>
		<span>Levels ▾</span>
		<ul class="nav-links">
			<% @levels.each do |level| %>
			<li><%= link_to "##{level.stage_number.to_s} #{level.title}", "/levels/#{level.stage_number}" %> </li>
			<% end %>
		</ul>
	</nav>
	<% end %>

		<span class="session"><% if current_user -%>
		<%= "#{current_user.display_name} | " -%>
		<%= link_to("Logout", logout_path) -%>
	<% else -%>
		<%= link_to("Sign Up", users_new_path) -%> or
		<%= link_to("Login", login_path) -%>
	<% end -%></span>

</header>