<!DOCTYPE html>
<html>
<head>
  <title>MissqlCommand</title>
  <%= favicon_link_tag 'favicon.ico' %>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>

<body>

<%= render "layouts/header" %>
<main role="main" id="content">
<span id="flash"><span id="notice"><%= flash[:notice] -%></span>
<span id="alert"><%= flash[:alert] -%></span></span>
<%= yield %>
</main>
</body>
</html>
