<!DOCTYPE html>
<html>
<head>
  <title>MissqlCommand</title>
  <%= favicon_link_tag 'favicon.ico' %>
  <script type="text/javascript">
  WebFontConfig = {
    google: { families: [ 'Glegoo::latin', 'Quantico:400,400italic:latin' ] }
  };
  (function() {
    var wf = document.createElement('script');
    wf.src = ('https:' == document.location.protocol ? 'https' : 'http') +
      '://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
    wf.type = 'text/javascript';
    wf.async = 'true';
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(wf, s);
  })(); </script>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>

<body>

<%= render "layouts/header" %>
<main role="main" id="content">
<span id="flash"><span id="notice"><%= flash[:notice] -%></span>
<span id="alert"><%= flash[:alert] -%></span></span>
<%= yield %>
</main>
</body>
</html>
