<!DOCTYPE html>
<html>
<head>
  <title>MissqlCommand</title>
  <%= favicon_link_tag 'favicon.ico' %>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>

<body>

<%= render "layouts/header" %>
<div id="flash">
	<div id="notice">
		<%= flash[:notice] %>
	</div>
	<div id="alert">
		<%= flash[:alert] %>
	</div>
</div>

<%= yield %>

</body>
</html>
